---
import Links from './Links.astro';
---

<section class='justify-center py-4'>
  <h1 class='font-crenzo font-extrabold text-4xl text-gray-900 dark:text-gray-100'>Hi, I'm Brad!<h1>
  <h2 class='my-2 font-baunk text-xl text-gray-800 dark:text-gray-200'>Fullstack Dev<h2>
  <p class='my-4 text-gray-700 dark:text-gray-300'>Developing, designing and deploying <bold class='text-transparent bg-clip-text bg-gradient-to-r from-[#FAA0A0] via-[#B67979] to-[#D08A8A]'>eloquent</bold> and <bold class='text-transparent bg-clip-text bg-gradient-to-r from-[#FAA0A0] via-[#B67979] to-[#D08A8A]'>efficient</bold> apps to the wild web. Open to remote software engineering role at a promising tech startup.</p>
  <Links />
</section>
