---
import TrailEdgeLabsIcon from './extIcons/TrailEdgeLabsIcon.astro';
import Links from './Links.astro';
---

<section class='justify-center py-4 font-xl'>
  <h1 class='font-crenzo font-extrabold text-gray-900 dark:text-gray-100'>Hi, I'm Brad!<h1>
  <h2 class='my-2 font-baunk text-gray-800 dark:text-gray-200'>Fullstack Dev<h2>
  <p class='my-4 text-gray-700 dark:text-gray-300'>
    <span class='relative'>I develop, design and deploy <bold class='text-transparent bg-clip-text bg-gradient-to-r dark:from-[#FAA0A0] dark:via-[#B67979] dark:to-[#D08A8A] from-[#903c3c] via-[#D08A8A] to-[#a35252]'>eloquent</bold> and <bold class='text-transparent bg-clip-text bg-gradient-to-r dark:from-[#FAA0A0] dark:via-[#B67979] dark:to-[#D08A8A] from-[#903c3c] via-[#D08A8A] to-[#a35252]'>efficient</bold> apps to the wild web.</span>
    <br/><br/>
    <span class='relative'>I currently work as SWE @ [redacted DOD contractor] and building @ <b class='relative inline-block'><a href='https://www.trailedgelabs.com/' target='_blank' class='flex items-center space-x-2 font-baunk text-2xl'><TrailEdgeLabsIcon /> Trailedge Labs</a></b>.</span>
    <!--Open to remote software engineering role at a promising tech startup.-->
  </p>
  <Links />
</section>
