---
import TechIcon from './TechIcon.astro';
import {
  TypeScriptIcon,
  AstroIcon,
  ReactIcon,
  TailwindIcon,
  AlpineIcon,
  GoIcon,
  PostgresIcon,
  AngularIcon,
  JavaIcon
} from './devIcons';

const TECH = [{
  name: 'TypeScript',
  shadowColor: 'hover:shadow-[rgba(0,122,204,0.4)]',
  icon: TypeScriptIcon
}, {
  name: 'React',
  shadowColor: 'hover:shadow-[rgba(97,218,251,0.4)]',
  icon: ReactIcon
}, {
  name: 'Tailwind',
  shadowColor: 'hover:shadow-[rgba(56,178,172,0.4)]',
  icon: TailwindIcon
}, {
  name: 'Alpine',
  shadowColor: 'hover:shadow-[rgba(45,52,65,0.4)]',
  icon: AlpineIcon
}, {
  name: 'GO',
  shadowColor: 'hover:shadow-[rgba(0,172,215,0.4)]',
  icon: GoIcon
}, {
  name: 'Postgres',
  shadowColor: 'hover:shadow-[rgba(51,103,145,0.4)]',
  icon: PostgresIcon
}, {
  name: 'Astro',
  shadowColor: 'hover:shadow-[rgba(255,22,57,0.4)]',
  icon: AstroIcon
}, {
  name: 'Angular',
  shadowColor: 'hover:shadow-[rgba(196,71,58,0.4)]',
  icon: AngularIcon
}, {
  name: 'Java',
  shadowColor: 'hover:shadow-[rgba(234,45,46,0.4)]',
  icon: JavaIcon
}];
---

<section class='w-full justify-center py-4'>
  <a href='/#tech' class='flex inline-flex items-center px-8 py-4'>
    <svg class='stroke-gray-800 dark:stroke-[#D08A8A] mr-2' width="2em" height="2em" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <rect width="16" height="16" x="4" y="4" rx="2"/><rect width="6" height="6" x="9" y="9" rx="1"/><path d="M15 2v2"/><path d="M15 20v2"/><path d="M2 15h2"/><path d="M2 9h2"/><path d="M20 15h2"/><path d="M20 9h2"/><path d="M9 2v2"/><path d="M9 20v2"/>
    </svg>
    <h3 id='tech' class='text-2xl font-crenzo text-gray-800 dark:text-gray-200 py-4'>Tech</h3>
  </a>
   
  <div class='flex gap-2 flex-row flex-wrap justify-center'>
    {TECH.map(({ name, shadowColor, icon }) => (
      <TechIcon name={name} shadowColor={shadowColor}>
        <Fragment set:html={icon} />
      </TechIcon>
    ))}
  </div>
</section>
